<!DOCTYPE html>
<html lang="ko">
<head>
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <meta charset="UTF-8">
</head>
<script>

</script>
<body>
<style>
    table {
        border: 1px solid #444444;
        width :60%;
        height:100px;
        text-align: center;
    }
     td {
        border: 1px solid #444444;
    }
</style>

<form method="GET" name="form1">
    <br>
    <input type ="button" name="create" value="create" id ="create"/>
    <br>
    <% BoardContents.forEach(function(post) { %>
        <table>
            <tr>
                <%if(post.id == userId){%>
                    <input type ="text" hidden="" name="boardID" id="boardID" value="<%= post.b_id %>"></input>
                <td><input type ="button" name ="delete" id ="delete" value ="delete"/>
                    <button type="button" onclick="updateVisible()">update</button>
                <%}%>
            </tr>
            <tr>
                <td><%=post.name%></td>
            </tr>
            <tr>
                <td><%=post.mod_date%></td>
            </tr>
            <tr>
                <td><textarea id="contents" name="contents" style="visibility:hidden;resize: none; width: 500px; height: 100px;"><%= post.contents %></textarea>
                    <%=post.contents%>
                    <input type="button" id ="update" name="update"value="수정" style ="visiblity:hidden" ></td>
            </tr>
            <tr>
                <td><img src="../uploads/<%=post.image_path%>" style= "width: 70%; height:70%"/></td>
            </tr>
        </table>
    <br>
    <% }) %>
</form>

<script>
function updateVisible() {
    document.getElementById('contents').style.visibility ="visible";
}
</script>

<script>
    $("#create").click(function a(){
        $.ajax({
            url: '/board/create',
            type: 'GET',
            success: function () {
                location.href = './board/create'
            },
            error: function (err) {
            }
        })
    });
</script>
<script>
    $("#delete").click(function(){
        $.ajax({
            url: '/board/delete',
            type: 'POST',
            async: false,
            dataType: 'json',
            data: {
                b_id: $('#boardID').val(),
            },
            success: function (data) {
                location.href ='./board/create'
            },
            error: function (err) {
            }
        })
    });
</script>

<script>
    $("#update").click(function(){
        $.ajax({
            url: './board/update',
            type: 'POST',
            async: false,
            dataType: 'json',
            data: {
                b_id: $('#b_id').val(),
                contents: $('#contents').val(),
            },
            success: function (data) {
                location.href="./board/update";
            },
            error: function (err) {
            }
        })
    });
</script>

</body>
</html>