<!DOCTYPE html>
<html lang="ko">
<head>
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <meta charset="UTF-8">
</head>
<script>

</script>
<body>
<style>
    table {
        width: 60%;
        height: 100px;
        border: 1px solid #444444;
        text-align: center;
    }
    td {
        border: 1px solid #444444;
    }
    form{
        margin-left: 30%;
        margin-right: 30%;
    }
</style>

<form method="post" enctype="multipart/form-data" id ="uploadForm">
    <!-- //enctype="multipart/form-data" 로 설정해야 사용자가 전송한 파일을 서버로 전송할 수 있음
    //문자를 인코딩하지 않음을 명시함. 이 방식은 <form> 요소가 파일이나 이미지를 서버로 전송할 때 주로 사용함-->
    <%if(userId !=="0"){%>
        <h1>Create</h1>

        <div>
            <textarea id ="createcontents" name="createcontents" style="resize:none;width: 60%; height: 100px;"></textarea>
        </div>

        <div>
            <input type="file" id="image_path" name="image_path" value="image_path">
        </div>

        <div>
            <input type="submit" id="create" value="create" name="create" formaction="/board/create">
        </div>
    <%}%>
    <br>
</form>
<form method="post">
    <% BoardContents.forEach(function(post,i) { %>
    <table>
        <tr>
            <%if(post.id == userId){%>
                <input type ="text" hidden="" name="boardID" id="boardID" value="<%= post.b_id %>"/>
                <td><input type ="button" name ="delete" id ="delete" value ="delete"/>
                    <input type="button" id ="update_btn" name="update_btn" value="수정하기"/>
                </td>
            <%}%>

        </tr>
        <tr>
            <td><%=post.name%></td>
        </tr>
        <tr>
            <td><div id="mod_date" type ="date"><%=post.mod_date%></div></td>
        </tr>

        <tr>
            <td>
                <div id ="bf_contents_area" class="updatecontents" style="white-space: pre;"><%=post.contents%></div>
                <textarea hidden="true" id="contents" name="contents" style="resize: none; width: 60%; height: 100px;"><%= post.contents %></textarea>
                <input  type="button" hidden="true" id ="update" name="update" value="수정">
            </td>
        </tr>
        <tr>
            <td><img src="../uploads/<%=post.image_path%>" style= "width: 60%; height:60%"/></td>
        </tr>
    </table>
    <br>
    <% }) %>
</form>


<!--<script type="text/javascript">
    $(document).on("click","#update_btn",function () {
        $('#contents').show();
        $('#update').show();
    })
</script>-->

<script>
    $("#create").submit(function () {
        $.ajax({
            url: '/board/create',
            type: 'POST',
            dataType: 'json',
            data: {
                contents: $('#contents').val(),
                image_path: $('#image_path').val(),
            },
            success: function (data) {
                location.reload();
            },
            error: function (data) {
                alert("입력된 값이 없습니다");
            }
        })
    });
</script>

<script>
    $("#delete").click(function(){
        if(confirm('삭제하시겠습니까?')) {
            $.ajax({
                url: '/board/delete',
                type: 'POST',
                dataType: 'json',
                data: {
                    b_id: $('#boardID').val(),
                },
                success: function (data) {
                    alert("삭제 되었습니다");
                    location.reload();
                },
                error: function (err) {
                }
            })
        }
    });
</script>

<script>
    $(document).on("click","#update_btn",function () {
        $('#contents').show();
        $('#update').show();

        $("#update").click(function(){
            $.ajax({
                url: '/board/update',
                type: 'POST',
                async: false,
                dataType: 'json',
                data: {
                    b_id: $('#boardID').val(),
                    contents: $('#contents').val(),
                    mod_date : $('#mod_date').val()
                },
                success: function (data,status, xhr) {
                    $('#contents').hide();
                    $('#update').hide();
                    $('#bf_contents_area').text(
                        data['CONTENTS']
                    );
                    $('#mod_date').text(
                        data['MOD_DATE']
                    )
                },
                error: function (err) {
                }
            })
        });
    })

</script>

</body>
</html>

