<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('./partials/head') %>
</head>
<body>
<%- include('./partials/nav_login') %>

<div class="container mb-3">
    <form method="POST">
        <h3 class="contentBoxTop mb-3">프로필</h3>
        <table>
            <tr>
                <td>이름 : </td>
                <td><%=name%></td>
            </tr>
            <tr>
                <td>email : </td>
                <td><%=email%></td>
            </tr>
            <tr>
                <td>전화 번호 : </td>
                <td><%=phonenumber%></td>
            </tr>
            <tr>
                <td>성별 : </td>
                <td> <%=gender = 0 ?"남자" : "여자" %></td>
            </tr>
            <tr>
                <td>등록 : </td>
                <td><%=registerdate%></td>
            </tr>
            <tr>
                <td><input class="button" type ="submit" value="수정" id = "update"></td>
                <td><a href="./delete">회원탈퇴바로가기</a></td>
            </tr>
        </table>
    </form>
</div>
    <script>
        $("#update").submit(function(){
            $.ajax({
                url:'./profile',//주
                type: 'POST',
                async: false,
                dataType :'json',
                success: function (data) {
                    location.href ='./update'
                },
                error: function (err) {
                }
            });
        });
    </script>
</body>

</html>